*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
 
}
.cabecalho{
    height: 50px;
    background-color: #FF0000;
}

.slider{
    flex: 1;
    overflow: hidden;
}

.slider-container{
    height: 100%;
    display: flex;
    transition: all ease 0.5s;

}

.slider-buttons{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F1F1F1;
    overflow: hidden;
    cursor: pointer;
}


.slider-item{
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

